# Test Results

測試結果沒問題，更新都會連動到artifacts裡面，目前自己做起來覺得像是azure dashboard一樣，只是有AI幫忙做非常客制化的調整．
